{% extends 'base.html.twig' %} 
{% block title %}Mes sujets{% endblock %} 
{% block body %}
    <h3>
        {% if is_granted('IS_AUTHENTICATED_FULLY') %}
            <p>Email: {{ app.user.email }}</p>
        {% endif %}

        {% if user is defined %} 
            <p>Username : {{ app.user.username }}</p>
        {% endif %}

        <p>Voici la liste des sujets que vous avez créé :</p>

        {% if mySubjects is empty %}
            <p>Aucun sujet trouvé.</p>
            
            <pre>
                {{ dump( mySubjects ) }}
            </pre>
            
            {% for basket in mySubjects %}
            <li>
                {% if basket.name is defined %}
                    {{ basket.name }}
                {% else %}
                    Nom non disponible
                {% endif %}
                {# <a href="{{ path('app_my_subject_delete', {'id': basket.id}) }}">Supprimer</a> #}
            </li>
        {% endfor %}

        {% else %}
            <ul>
                {% for basket in mySubjects %}
                <li>
                    {% if basket.name is defined %}
                        {{ basket.name }}
                    {% else %}
                        Nom non disponible
                    {% endif %}
                    <a href="{{ path('app_my_subject_delete', {'id': basket.id}) }}">Supprimer</a>
                </li>
            {% endfor %}
            </ul>
        {% endif %}
    </h3>

    <a href="{{ path('app_home') }}">Home</a>
{% endblock %}