 {% extends 'base.html.twig' %} {% block
title %}Créer un nouveau sujet{% endblock %} {% block body %}

{% include 'components/Head.html.twig' %} 
{% include 'components/Navbar.html.twig' %} 
{% include 'components/Header.html.twig' with {'subjects': subjects} %}

<div class="container">
  <div class="row">
    <div class="col-md-8 offset-md-2">
      <h1>Créer un nouveau sujet</h1>
      {{ form_start(form) }}
      <div class="form-group">
        {{ form_label(form.name) }}
        {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
      </div>

      <div class="form-group">
        {{ form_label(form.description) }}
        {{ form_widget(form.description, {'attr': {'class': 'form-control'}}) }}
      </div>

      <div class="form-group">
        {{ form_label(form.category) }}
        {{ form_widget(form.category, {'attr': {'class': 'form-control'}}) }}
      </div>

      <button type="submit" class="btn btn-primary">Créer</button>
      {{ form_end(form) }}
    </div>
  </div>
</div>

<script
  src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.3/dist/js/bootstrap.bundle.min.js"
  integrity="sha384-YvpcrYf0tY3lHB60NNkmXc5s9fDVZLESaAA55NDzOxhy9GkcIdslK1eN7N6jIeHz"
  crossorigin="anonymous"
></script>
{% endblock %}
