{% extends 'base.html.twig' %} {% block title %}Post{% endblock %} {% block body
%}

{% include 'components/Head.html.twig' %} 
{% include 'components/Navbar.html.twig' %} 
{% include 'components/Header.html.twig' with {'subjects': subjects} %}

<div class="container">
  <h1>Créer un nouveau post</h1>
  <form method="post" action="{{ path('app_post_create') }}">
    {{ form_start(form) }}
    <div class="form-group">
      {{ form_label(form.subject, "Choisissez un sujet :") }}
      {{ form_widget(form.subject, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.name, "Post :") }}
      {{ form_widget(form.name, {'attr': {'class': 'form-control'}}) }}
    </div>
    <div class="form-group">
      {{ form_label(form.content, "Contenu :") }}
      {{ form_widget(form.content, {'attr': {'class': 'form-control'}}) }}
    </div>
    <button type="submit" class="btn btn-primary">Poster</button>
    {{ form_end(form) }}
  </form>
</div>

<script src="https://code.jquery.com/jquery-3.6.0.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/bootstrap@5.3.0-alpha1/dist/js/bootstrap.bundle.min.js"></script>

{% endblock %}
