{% extends 'base.html.twig' %}

{% block title %} {{ story.name }}{% endblock %}

{% block body %}

<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Création de la NBA</title>
</head>
    <p>{{ story.name }}</p>
    <br>
    <button><a href="#drams">Répondre à ce sujet</a></button>
    <br><br><br><br><br><br><br><br><br><br>
    <section id="drams">
        <br>

        {# {% if app.flashes('success') %}
            <div class="alert alert-success" role="alert">
                {{ app.flashes('success')[0] }}
            </div>
        {% endif %} #}

        {{ form_errors(responseForm) }}

        <form action="" method="post">
        {{ form_start(responseForm) }}

        {{ form_row(responseForm.subject, {
            'label': 'Titre :'
        }) }}

        {{ form_row(responseForm.content, {
            'label': 'Message :'
        }) }}
        <br>
        <button type="submit" class="btn">Poster la réponse</button>
        <br> 

        </form>
        {{ form_end(responseForm) }}

    </section>
    <br><br><a href="{{ path('app_home') }}">Home</a>

{% endblock %}
