{% extends 'base.html.twig' %}

{% block title %}
    {{ story.name }}
{% endblock %}

{% block body %}
    <head>
        <meta charset="UTF-8" />
        <meta name="viewport" content="width=device-width, initial-scale=1.0" />
        <link rel="stylesheet" href="{{ asset('css/story.css') }}">
    </head>

    <h1>{{ story.name }}</h1>

    <button><a href="#drams">Répondre à ce sujet</a></button>

    <br /><br /><br /><br /><br />

    <h3>Réponses</h3>
    <table class="forum-table">
        <tr>
            <th>Utilisateur</th>
            <th>Réponses</th>
        </tr>
        {% for answer in answers %}
            <tr>
                <td>{{ answer.user.username }}</td>
                <td>{{ answer.content }}</td>
            </tr>
        {% endfor %}
    </table>

    <section id="drams">
        <br />

        {{ form_start(form, { action: path("app_basket_story"), method: "POST" }) }}

        <div>
            {{ form_label(form.content, "Message :") }}
            {{ form_widget(form.content) }}
            {{ form_errors(form.content) }}
        </div>

        <br />
        <button type="submit" class="btn">Poster la réponse</button>

        {{ form_end(form) }}
    </section>

    <br /><br /><a href="{{ path('app_home') }}">Home</a>

{% endblock %}
